{% extends "base.html" %}
{% load static %}

{% block title %}<title>PyFriends — Главная</title>{% endblock %}

{% block content %}
    <h1 class="mb-4">Добро пожаловать в <strong>PyFriends</strong> 👋</h1>
    <p class="lead">
        Мини-соцсеть на Python для обучения командной разработке, Git Flow и веб-программированию.
        Пользователи могут регистрироваться, публиковать посты, комментировать и просматривать профили.
    </p>

    <hr>

    <h2 class="mt-4">🧱 Стек технологий</h2>
    <ul>
        <li>Python 3.11+</li>
        <li>Django или Flask</li>
        <li>SQLite или PostgreSQL</li>
        <li>Pytest</li>
        <li>Docker + docker-compose</li>
        <li>HTML + Bootstrap</li>
        <li>Git + GitHub</li>
    </ul>

    <h1>Тут будут в будущем последние посты с пагинацией</h1>
    <img src="{% static '/images/hello.gif' %}" height="300">
{% endblock %}
